<div class="header-container">
  <h1>Lista de Transações</h1>
  <div class="btn-group">
    <button class="btn" onclick="openModal()">Upload de Arquivo CNAB</button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Valor</th>
      <th style="width: 150px; white-space: nowrap;">CPF</th>
      <th>N. Cartão</th>
      <th>Dono da Loja</th>
      <th>Nome da Loja</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type.description %></td>
        <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
        <td><%= transaction.time.insert(2, ":").insert(5, ":") %></td>
        <td><%= number_to_currency(transaction.value, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= transaction.cpf.gsub(/(\d{3})(\d{3})(\d{3})(\d{2})/, '\1.\2.\3-\4') %></td>
        <td><%= transaction.card %></td>
        <td><%= transaction.store_owner %></td>
        <td><%= transaction.store_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @transactions %>
</div>


<div id="uploadModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <%= form_with(url: uploads_path, local: true, html: { enctype: "multipart/form-data" }) do |form| %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>

      <div class="form-group">
        <%= form.label :file, "Selecione o arquivo CNAB", class: "label" %>
        <%= form.file_field :file, accept: ".txt", required: true, class: "file-input" %>
      </div>

      <div class="form-group">
        <%= link_to 'Voltar', root_path, class: 'btn' %>
        <%= form.submit "Enviar", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function openModal() {
    document.getElementById("uploadModal").style.display = "flex";
  }

  function closeModal() {
    document.getElementById("uploadModal").style.display = "none";
  }

  window.onclick = function(event) {
    let modal = document.getElementById("uploadModal");
    if (event.target === modal) {
      closeModal();
    }
  };
</script>
