<h1>Bem-vindo à Gestão de Transações CNAB</h1>

<div class="btn-group">
  <%= link_to 'Upload de Arquivo CNAB', new_upload_path, class: 'btn' %>
</div>
<h1>Lista de Transações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>CPF</th>
      <th>N. Cartão</th>
      <th>Hora</th>
      <th>Dono da Loja</th>
      <th>Nome da Loja</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type.description %></td>
        <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(transaction.value, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= transaction.cpf %></td>
        <td><%= transaction.card %></td>
        <td><%= transaction.time.insert(2, ":").insert(5, ":") %></td>
        <td><%= transaction.store_owner %></td>
        <td><%= transaction.store_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
