<div class="header-container">
  <h1>Lista de Transações</h1>
  <div class="btn-container">
    <div class="btn-group">
      <button class="btn" onclick="openModal()">Upload de Arquivo CNAB</button>
    </div>
    <div class="btn-sair">
      <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
        <%= submit_tag "Sair", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>


<div class="transactions-container">
  <table class="table">
    <thead>
      <tr>
        <th>
          <%= link_to transactions_path(sort: 'transaction_types', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Tipo
            <span class="sort-icon <%= params[:sort] == 'transaction_types' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'date', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Data
            <span class="sort-icon <%= params[:sort] == 'date' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'time', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Hora
            <span class="sort-icon <%= params[:sort] == 'time' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'value', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Valor
            <span class="sort-icon <%= params[:sort] == 'value' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'cpf', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            CPF
            <span class="sort-icon <%= params[:sort] == 'cpf' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'card', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            N. Cartão
            <span class="sort-icon <%= params[:sort] == 'card' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'store_owner', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Dono da Loja
            <span class="sort-icon <%= params[:sort] == 'store_owner' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
        <th>
          <%= link_to transactions_path(sort: 'store_name', direction: (params[:direction] == 'asc' ? 'desc' : 'asc')) do %>
            Nome da Loja
            <span class="sort-icon <%= params[:sort] == 'store_name' ? (params[:direction] == 'asc' ? 'asc' : 'desc') : '' %>"></span>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class="<%= transaction.transaction_type.income? ? 'income' : 'expense' %>">
          <td>
            <span class="transaction-badge <%= transaction.transaction_type.income? ? 'income-badge' : 'expense-badge' %>">
              <%= transaction.transaction_type.description %>
            </span>
          </td>
          <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
          <td><%= transaction.time.insert(2, ":").insert(5, ":") %></td>
          <td class="value-cell <%= transaction.transaction_type.income? ? 'income-value' : 'expense-value' %>">
            <%= number_to_currency(transaction.value, unit: "R$", separator: ",", delimiter: ".") %>
          </td>
          <td><%= transaction.cpf.gsub(/(\d{3})(\d{3})(\d{3})(\d{2})/, '\1.\2.\3-\4') %></td>
          <td><%= transaction.card %></td>
          <td><%= transaction.store_owner %></td>
          <td><%= transaction.store_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= paginate @transactions %>
  </div>

  <% if @transactions.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Nome da Loja</th>
          <th>Total de Saldo</th>
        </tr>
      </thead>
      <tbody>
        <% @store_totals.sort_by { |store_total| store_total[:store_name] }.each do |store_total| %>
          <tr>
            <td><%= store_total[:store_name] %></td>
            <td><%= number_to_currency(store_total[:total_balance], unit: "R$", separator: ",", delimiter: ".") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>



<div id="uploadModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <%= form_with(url: transactions_path, local: true, html: { enctype: "multipart/form-data" }) do |form| %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>

      <div class="form-group">
        <%= form.label :file, "Selecione o arquivo CNAB", class: "label" %>
        <%= form.file_field :file, accept: ".txt", required: true, class: "file-input" %>
      </div>

      <div class="form-group">
        <%= link_to 'Voltar', root_path, class: 'btn' %>
        <%= form.submit "Enviar", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

<% if @transactions.any? %>
  <div class="logo-container">
    <%= image_tag "logo-bycoders.jpg", alt: "Logo", class: "logo-footer" %>
  </div>
<% end %>

<script>
  function openModal() {
    document.getElementById("uploadModal").style.display = "flex";
  }

  function closeModal() {
    document.getElementById("uploadModal").style.display = "none";
  }

  window.onclick = function(event) {
    let modal = document.getElementById("uploadModal");
    if (event.target === modal) {
      closeModal();
    }
  };
</script>
